<yandex>
    <logger>
        <level>{{ clickhouse_log_level }}</level>
        <log>/var/log/clickhouse-server/clickhouse-server.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
        <size>{{ clickhouse_log_size }}</size>
        <count>{{ clickhouse_log_count }}</count>
    </logger>
    <http_port>{{ clickhouse_http_port }}</http_port>
    <https_port>{{ clickhouse_https_port }}</https_port>
    <tcp_port>{{ clickhouse_tcp_port }}</tcp_port>
    <tcp_port_secure>{{ clickhouse_tcp_port_secure }}</tcp_port_secure>
    <interserver_http_port>{{ clickhouse_interserver_http_port }}</interserver_http_port>
    <max_concurrent_queries>100</max_concurrent_queries>
    <max_open_files>262144</max_open_files>
    <max_size_to_drop>{{ clickhouse_max_size_to_drop  }}</max_size_to_drop>
    <max_server_memory_usage>{{ clickhouse_max_server_memory_usage }}</max_server_memory_usage>
    <mark_cache_size>536870912</mark_cache_size>
    <uncompressed_cache_size>8589934592</uncompressed_cache_size>
    <path>{{ clickhouse_path }}</path>
    <tmp_path>/var/lib/clickhouse/tmp/</tmp_path>
    <user_files_path>/var/lib/clickhouse/</user_files_path>
    <users_config>users.xml</users_config>
    <default_profile>default</default_profile>
    <users>
        {% for user in clickhouse_users %}
        <{{ user.name }}>
            <password>{{ user.password }}</password>
            <profile>{{ user.profile }}</profile>
            <quota>{{ user.quota }}</quota>
            <networks>
                {% for network in user.networks %}
                <ip>{{ network }}</ip>
                {% endfor %}
            </networks>
        </{{ user.name }}>
        {% endfor %}
    </users>
    <profiles>
      <default>
        <max_memory_usage>10000000000</max_memory_usage>
        <max_threads>8</max_threads>
        <max_query_size>10000000</max_query_size>
      </default>
    </profiles>
    <default_database>default</default_database>
    <timezone>Etc/UTC</timezone>
    {% if clickhouse_ssl_enabled %}
    <ssl>
        <certificate_file>{{ clickhouse_ssl_cert_path }}</certificate_file>
        <private_key_file>{{ clickhouse_ssl_key_path }}</private_key_file>
        <dhparam_file>{{ clickhouse_dhparam_path }}</dhparam_file>
    </ssl>
    {% endif %}
    {% if clickhouse_zookeeper_nodes %}
    <zookeeper>
        {% for node in clickhouse_zookeeper_nodes %}
        <node>
            <host>{{ node.host }}</host>
            <port>{{ node.port }}</port>
        </node>
        {% endfor %}
    </zookeeper>
    {% endif %}
    {% if clickhouse_custom_settings %}
    <custom_settings>
        {% for key, value in clickhouse_custom_settings.items() %}
        <{{ key }}>{{ value }}</{{ key }}>
        {% endfor %}
    </custom_settings>
    {% endif %}
    <builtin_dictionaries_reload_interval>3600</builtin_dictionaries_reload_interval>
    <default_session_timeout>60</default_session_timeout>
    <prometheus>
        <endpoint>/metrics</endpoint>
        <port>8001</port>
        <metrics>true</metrics>
        <events>true</events>
        <asynchronous_metrics>true</asynchronous_metrics>
    </prometheus>
    <dictionaries_config>/var/lib/clickhouse/*_dictionary.xml</dictionaries_config>
    <compression>
    <!--
        <!- - Set of variants. Checked in order. Last matching case wins. If nothing matches, lz4 will be used. - ->
        <case>

            <!- - Conditions. All must be satisfied. Some conditions may be omitted. - ->
            <min_part_size>10000000000</min_part_size>        <!- - Min part size in bytes. - ->
            <min_part_size_ratio>0.01</min_part_size_ratio>   <!- - Min size of part relative to whole table size. - ->

            <!- - What compression method to use. - ->
            <method>zstd</method>
        </case>
    -->
    </compression>
    <merge_tree>
        <parts_to_delay_insert>1000</parts_to_delay_insert>
        <parts_to_throw_insert>2000</parts_to_throw_insert>
        <max_delay_to_insert>2</max_delay_to_insert>
        <max_suspicious_broken_parts>5</max_suspicious_broken_parts>
    </merge_tree>
    <max_table_size_to_drop>100000000000</max_table_size_to_drop>
    <max_partition_size_to_drop>100000000000</max_partition_size_to_drop>
    <format_schema_path>/var/lib/clickhouse/format_schemas/</format_schema_path>
</yandex>
